<!--<h1>-->
<!--{{title}}-->
<!--</h1>-->

<!--<app-base-form></app-base-form>-->
<!--<app-form-validation></app-form-validation>-->
<!--<app-model-form></app-model-form>-->
<!--<app-model-form2></app-model-form2>-->

<div class="layout-docs">
	<header>
		<div class="container">
			<div class="header-section logo-section">
				<div class="logo"><a href="#" title="Angular Samples">Angular Samples</a></div>
			</div>
		</div>
	</header>
	<div class="doc-main">
		<div class="toc-container">
			<div class="react-menu-container">
				<div class="search">Search</div>
				<div>
					<h2>Forms</h2>
					<ul>
						<li><a href="./#simpleform">Simple Form</a></li>
						<li>List</li>
						<li>List</li>						<li>List</li>
						<li>List</li>						<li>List</li>
						<li>List</li>						<li>List</li>
						<li>List</li>						<li>List</li>
						<li>List</li>						<li>List</li>
						<li>List</li>						<li>List</li>
						<li>List</li>						<li>List</li>
						<li>List</li>						<li>List</li>
						<li>List</li>						<li>List</li>
						<li>List</li>						<li>List</li>
						<li>List</li>						<li>List</li>
						<li>List</li>						<li>List</li>
						<li>List</li>						<li>List</li>
						<li>List</li>						<li>List</li>
						<li>List</li>						<li>List</li>
						<li>List</li>						<li>List</li>
						<li>List</li>						<li>List</li>
						<li>List</li>						<li>List</li>
						<li>List</li>						<li>List</li>
						<li>List</li>						<li>List</li>
						<li>List</li>						<li>List</li>
						<li>List</li>						<li>List</li>
						<li>List</li>						<li>List</li>
						<li>List</li>						<li>List</li>
						<li>List</li>						<li>List</li>
						<li>List</li>						<li>List</li>
						<li>List</li>						<li>List</li>
						<li>List</li>						<li>List</li>
						<li>List</li>						<li>List</li>
						<li>List</li>						<li>List</li>
						<li>List</li>						<li>List</li>
						<li>List</li>						<li>List</li>
						<li>List</li>						<li>List</li>
						<li>List</li>						<li>List</li>
						<li>List</li>						<li>List</li>
						<li>List</li>						<li>List</li>
						<li>List</li>						<li>List</li>
						<li>List</li>						<li>List</li>
						<li>List</li>						<li>List</li>
						<li>List</li>						<li>List</li>
						<li>List</li>						<li>List</li>
						<li>List</li>						<li>List</li>
						<li>List</li>						<li>List</li>
						<li>List</li>						<li>List</li>
						<li>List</li>						<li>List</li>
						<li>List</li>						<li>List</li>
						<li>List</li>						<li>List</li>
						<li>List</li>						<li>List</li>
						<li>List</li>						<li>List</li>
						<li>List</li>						<li>List</li>
						<li>List</li>						<li>List</li>
						<li>List</li>						<li>List</li>
						<li>List</li>						<li>List</li>
						<li>List</li>						<li>List</li>
						<li>List</li>						<li>List</li>
						<li>List</li>						<li>List</li>
						<li>List</li>						<li>List</li>
						<li>List</li>						<li>List</li>
						<li>List</li>						<li>List</li>
						<li>List</li>						<li>List</li>
						<li>List</li>						<li>List</li>
						<li>List</li>						<li>List</li>
						<li>List</li>						<li>List</li>
						<li>List</li>						<li>List</li>
						<li>List</li>						<li>List</li>
						<li>List</li>						<li>List</li>
						<li>List</li>						<li>List</li>
						<li>List</li>						<li>List</li>
						<li>List</li>						<li>List</li>
						<li>List</li>						<li>List</li>
						<li>List</li>						<li>List</li>
						<li>List</li>						<li>List</li>
						<li>List</li>						<li>List</li>
						<li>List</li>						<li>List</li>
						<li>List</li>						<li>List</li>
						<li>List</li>						<li>List</li>
						<li>List</li>						<li>List</li>
						<li>List</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="doc-container">
			<div>
				<h3 id="simpleform"><a href="#" class="fa fa-link"></a><code>Simple Form</code></h3>
				<h4>Description</h4>
				<p>Basic form hooked with onSubmit</p>

				<h4>Try it out:</h4>
				<app-base-form></app-base-form>

				<h4>HTML</h4>
				<div>
					<div class="highlight js">
						<pre>
&lt;form (ngSubmit)="onSubmit()"&gt;
	&lt;label for="username"&gt;username&lt;/label&gt;
	&lt;input type="text" id="username" name="username"&gt;

	&lt;label for="password"&gt;password&lt;/label&gt;
	&lt;input type="password" id="password" name="password"&gt;

	&lt;button type="submit"&gt;Submit&lt;/button&gt;
&lt;/form&gt;
						</pre>
					</div>
				</div>

				<h4>Component</h4>
				<div>
					<div class="highlight js">
						<pre>
&lt;form (ngSubmit)="onSubmit()"&gt;
	&lt;label for="username"&gt;username&lt;/label&gt;
	&lt;input type="text" id="username" name="username"&gt;

	&lt;label for="password"&gt;password&lt;/label&gt;
	&lt;input type="password" id="password" name="password"&gt;

	&lt;button type="submit"&gt;Submit&lt;/button&gt;
&lt;/form&gt;
						</pre>
					</div>
				</div>

			</div>

			<div>
				<h3 id="simpleform"><a href="#" class="fa fa-link"></a><code>Simple Form</code></h3>
				<h4>Description</h4>
				<p>Basic form hooked with onSubmit</p>

				<h4>Try it out:</h4>
				<app-base-form></app-base-form>

				<h4>HTML</h4>
				<div>
					<div class="highlight js">
						<pre>
&lt;form (ngSubmit)="onSubmit()"&gt;
	&lt;label for="username"&gt;username&lt;/label&gt;
	&lt;input type="text" id="username" name="username"&gt;

	&lt;label for="password"&gt;password&lt;/label&gt;
	&lt;input type="password" id="password" name="password"&gt;

	&lt;button type="submit"&gt;Submit&lt;/button&gt;
&lt;/form&gt;
						</pre>
					</div>
				</div>

				<h4>Component</h4>
				<div>
					<div class="highlight js">
						<pre>
&lt;form (ngSubmit)="onSubmit()"&gt;
	&lt;label for="username"&gt;username&lt;/label&gt;
	&lt;input type="text" id="username" name="username"&gt;

	&lt;label for="password"&gt;password&lt;/label&gt;
	&lt;input type="password" id="password" name="password"&gt;

	&lt;button type="submit"&gt;Submit&lt;/button&gt;
&lt;/form&gt;
						</pre>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>